
<md-content layout-padding>
  <md-content layout-padding>

    <form novalidate name="userForm" id="userForm" class="md-whiteframe-z1" ng-submit="submitUser(userForm)" style="background-color: white">
      <md-content layout-padding>

        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Email</label>
            <input required ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/" name="email" ng-model="user.email">
            <div class="validation" ng-messages="userForm.email.$error" ng-show="userForm.$submitted || userForm.email.$dirty">
              <div ng-message="required" ng-show="userForm.email.$error.required">Email is required!</div>
              <div ng-message="pattern" ng-show="userForm.email.$error.pattern && userForm.$submitted">This should be a valid email!</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <md-radio-group ng-model="user.role">
              <md-radio-button ng-repeat="role in roles" value="{{ role }}" class="md-primary">{{ role }}</md-radio-button>
            </md-radio-group>
          </md-input-container>
        </div>

        <div layout layout-sm="column">
          <md-input-container flex>
            <label>First Name</label>
            <input type="text" required name="firstName" ng-model="user.firstName">
            <div class="validation" ng-messages="userForm.firstName.$error" ng-show="userForm.$submitted || userForm.firstName.$dirty">
              <div ng-message="required" ng-show="userForm.firstName.$error.required">First name is required!</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Last Name</label>
            <input type="text" required name="lastName" ng-model="user.lastName">
            <div class="validation" ng-messages="userForm.lastName.$error" ng-show="userForm.$submitted || userForm.lastName.$dirty">
              <div ng-message="required" ng-show="userForm.lastName.$error.required">Last name is required!</div>
            </div>
          </md-input-container>
        </div>

        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Password</label>
            <input type="password" required name="password" ng-model="user.password">
            <div class="validation" ng-messages="userForm.password.$error" ng-show="userForm.$submitted || userForm.password.$dirty">
              <div ng-message="required" ng-show="userForm.password.$error.required">Password is required!</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Confirm Password</label>
            <input type="password" required name="confirmPassword" ng-model="user.confirmPassword">
            <div class="validation" ng-messages="userForm.confirmPassword.$error" ng-show="userForm.$submitted">
              <div ng-message="match" ng-show="user.confirmPassword !== user.password">Passwords do not match!</div>
            </div>
          </md-input-container>
        </div>

        <div layout="row" layout-align="end">
          <md-button type="button" class="md-raised" ng-click="cancelUserForm()">Cancél</md-button>
          <md-button type="submit" class="md-raised md-primary">Submit</md-button>
        </div>

      </md-content>
    </form>

  </md-content>
</md-content>
