
<md-content layout-padding>
  <md-content layout-padding>

    <form novalidate name="companyForm" id="companyForm" class="md-whiteframe-z1" ng-submit="submitCompany(companyForm)" style="background-color: white">
      <md-content layout-padding>

        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Name</label>
            <input type="text" required name="name" ng-model="company.name">
            <div class="validation" ng-messages="companyForm.name.$error" ng-show="companyForm.$submitted || companyForm.name.$dirty">
              <div ng-message="required" ng-show="companyForm.name.$error.required">Company name is required!</div>
            </div>
          </md-input-container>
        </div>

        <div layout="row" layout-align="end">
          <md-button type="button" class="md-raised" ng-click="cancelCompanyForm()">Cancel</md-button>
          <md-button type="submit" class="md-raised md-primary">Submit</md-button>
        </div>

      </md-content>
    </form>

  </md-content>
</md-content>