<gemini-navbar/></gemini-navbar>

<form ng-submit="signIn(email, password)">
  <div layout="row" layout-align="center">

    <md-content flex-sm="100" flex-md="75" flex-gt-md="50" class="md-padding">

      <md-input-container>
        <label>Email</label>
        <input type="email" ng-model="email" required>
      </md-input-container>

      <md-input-container>
        <label>Password</label>
        <input type="password" ng-model="password" password required>
      </md-input-container>

      <div layout="row" layout-align="end">
        <md-button type="submit" class="md-raised md-primary">Sign in</md-button>
      </div>
    </md-content>

  </div>
</form>


