<md-toolbar ng-controller="NavbarCtrl">
  <div layout="row">
    <div flex>
      <h2 class="md-toolbar-tools">
        <span>KPS - Gemini</span>
      </h2>
    </div>
    <div ng-show="session != undefined">
      <h2 class="md-toolbar-tools">
        <span hide-sm class="navbar-user-name">Andrew Dudley</span>
        <md-button ng-click="signOut()">Sign out</md-button>
      </h2>
    </div>
  </div>
</md-toolbar>
