
.users-tab-content {
  padding: 10px !important;
  background-color: #F0F0F5;
}

.users-tab-pane {
  padding: 10px;
  background-color: inherit;
}

.users-tab-right-pane {
  text-align: right;
}

.user-item {
  margin-bottom: 10px;
  background-color: white;
}

.user-menu-button {
  fill: #bdbdbd;
}

.user-form {
  background-color: white;
  text-align: left;

  button {
    margin-left: 10px;
  }
}

.validation div {
  color: red;
}

.dashboard-tabs md-content {
  background-color: transparent !important;
}

.dashboard-tabs md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1;
}

.dashboard-tabs md-content md-tabs md-tabs-canvas {
  background: white;
}

.dashboard-tabs md-content h1:first-child {
  margin-top: 0;
}

.md-whiteframe-z1 {
  background-color: white;
}