<gemini-navbar/></gemini-navbar>

<div class="dashboard-tabs">
  <md-content class="md-padding">
    <md-tabs md-dynamic-height="" md-border-bottom="">


      <md-tab label="CCOR Results" md-on-select="loadAttemptsByCompanyId(selectedCompanyId)">
        <md-content class="md-padding">

          <h3>
            <span>CCOR Results</span>
          </h3>

          <!-- <md-subheader class="md-no-sticky">Orphan Attempts</md-subheader> -->

          <md-select placeholder="Company" ng-model="selectedCompanyId">
            <md-option ng-repeat="company in companies" value="{{ company.id }}" ng-click="loadAttemptsByCompanyId(company.id)">{{ company.name }}</md-option>
          </md-select>

          <md-list>
            <md-list-item class="md-2-line" ng-repeat="attempt in attempts">
              <md-whiteframe class="md-list-item-text md-whiteframe-z1">
                <div layout="row" layout-sm="column">
                  <div flex="50" flex-sm="100" layout-padding>
                    <h3>{{ attempt.employeeFirstName }} {{ attempt.employeeLastName }}</h3>
                    <p>{{ attempt.employeeEmail }}</p>
                  </div>
                  <div layout-padding ng-show="attempt.score !== null">
                    <h3>Score: {{ attempt.score }}</h3>
                    <p>{{ attempt.completedAt | date:'MM/dd/yyyy h:mma'}}</p>
                  </div>
                  <div layout-padding ng-show="attempt.score === null">
                    <p>In progress</p>
                  </div>
                </div>
              </md-whiteframe>
            </md-list-item>
          </md-list>

        </md-content>
      </md-tab>


      <md-tab label="Users" md-on-select="loadUsers()">
        <md-content class="md-padding">

          <div layout="row">
            <div flex>

              <h3>
                <span>Users</span>
              </h3>

            </div>
            <div flex layout="row" layout-align="end center">
              <md-button class="md-raised" ng-click="addUser()" ng-show="showNewUserButton">New User</md-button>
            </div>
          </div>

          <div id="edit-user-container">
          </div>

          <md-list>
            <md-list-item class="md-2-line" ng-repeat="user in users">
              <md-whiteframe class="md-list-item-text md-whiteframe-z1">
                <div layout="row" layout-sm="column">
                  <div flex="50" flex-sm="100" layout-padding>
                    <h3>{{ user.lastName }}, {{ user.firstName }}</h3>
                    <p>{{ user.email }}</p>
                  </div>
                  <div layout-padding>
                    <h3 ng-repeat="role in user.roles">{{ role }}</h3>
                  </div>
                </div>
              </md-whiteframe>
            </md-list-item>
          </md-list>

        </md-content>
      </md-tab>


      <md-tab label="Companies" md-on-select="loadCompanies()">
        <md-content class="md-padding">

          <div layout="row">
            <div flex>

              <h3>
                <span>Companies</span>
              </h3>

            </div>
            <div flex layout="row" layout-align="end center">
              <md-button class="md-raised" ng-click="addCompany()" ng-show="showNewCompanyButton">New Company</md-button>
            </div>
          </div>

          <div id="edit-company-container">
          </div>

          <md-list>
            <md-list-item class="md-2-line" ng-repeat="company in companies">
              <md-whiteframe class="md-list-item-text md-whiteframe-z1">
                <div layout="row" layout-sm="column">
                  <div flex="50" flex-sm="100" layout-padding>
                    <h3>{{ company.name }}</h3>
                  </div>
                </div>
              </md-whiteframe>
            </md-list-item>
          </md-list>
          
        </md-content>
      </md-tab>


      <md-tab label="Data Extracts" md-on-select="">
        <md-content class="md-padding">

          <div layout="row">
            <div flex>

              <h3>
                <span>Data Extracts</span>
              </h3>

            </div>
            <div flex layout="row" layout-align="end center">
              <md-button class="md-raised" ng-click="addClient()">Download Extract</md-button>
            </div>
          </div>

        </md-content>
      </md-tab>


    </md-tabs>
  </md-content>
</div>

<!-- <div hide show-sm>small</div>
<div hide show-md>medium</div>
<div hide show-lg>large</div>
<div hide show-gt-lg>gt large</div> -->
